<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <link href="../static/css/schedule.css" rel="stylesheet"
    th:href="@{css/schedule.css}" media="screen" >
    <title>User list</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <nav>
        <ul>
            <li><p class="icon">Fitness</p> </li>
            <li><a href="/welcome">Home</a></li>
            <li><a href="/admin">Admin page</a></li>
            <li><a href="/season_ticket">Season tickets</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/trainer">Trainers</a></li>
            <li><a onclick="document.forms['logoutForm'].submit()">Logout</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <h2>The list of users</h2>
    <table>
        <tr class="darkgrey">
        <th>UserName</th>
        <th>Password</th>
        </tr>
        <tr class="grey" th:each="user:${allUsers}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </table>
</div>
</body>
</html>
