<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
    <link href="../static/css/home.css" rel="stylesheet"
          th:href="@{css/home.css}" media="screen" >
</head>
<body>
<header>
    <ul>
        <li><p class="icon">Fitness</p> </li>
        <li><a href="/hello">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/registration">Create an account</a></li>
    </ul>
</header>

<div class="container">
    <h1>Welcome to the Fitness Center!</h1>
    <h2>Our Fitness Center offers: </h2>
    <div style="width:600px; display: inline-block;">
        <img class="img"
                src="https://www.uniflex.kz/cms/uploads/file_1554715563_548952390.jpg">
    </div>
    <div class ="list">
        <ol class = "rounded-list">
            <li> <p> 600 square meters gym, with the best training equipment in the world — MATRIX </p></li>
            <li> <p> Comfortable dressing rooms </p></li>
            <li> <p> 3 training rooms for group programs </p></li>
            <li> <p> Modern climate-control system </p></li>
            <li> <p> CYCLE Studio with the cinema </p></li>
            <li> <p> CrossZone with functional frame MATRIX </p></li>
            <li> <p> ELEIKO Professional bench press bench </p></li>
            <li> <p> Personal Training Studio </p></li>
            <li> <p> Yoga and Pilates </p></li>
            <li> <p> Studio ANTIGRAVITY-training on hammocks </p></li>
        </ol>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>
